---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Персональный блог Куликовского">
	<main>
		<ul
			class="my-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-5 lg:gap-10"
		>
			{posts.map((post) => <Card post={post} />)}
		</ul>
	</main>
</Layout>
