---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kulikovsky's Portfolio">
  <main
    class="grid grid-cols-6 my-20 gap-10 w-screen -ml-56 rotate-45 scale-105"
  >
    <iframe
      src="https://shumel.dev"
      frameborder="0"
      width="500"
      height="500"
      class="rounded-lg col-span-2 row-span-2 w-full"></iframe>
    <iframe
      src="https://distracted-newton-038ad1.netlify.app"
      frameborder="0"
      wfidth="500"
      height="500"
      class="rounded-lg col-span-4 row-span-2 w-full"></iframe>
    <iframe
      src="https://veloufa.com"
      frameborder="0"
      width="500"
      height="500"
      class="rounded-lg col-span-5 row-span-2 w-full"></iframe>
    <iframe
      src="https://www.soyzniki.ru/#/"
      frameborder="0"
      width="500"
      height="500"
      class="rounded-lg col-span-1 row-span-2 w-full"></iframe>
    <iframe
      src="https://grand-royal-residences.ru"
      frameborder="0"
      width="500"
      height="500"
      class="rounded-lg col-span-6 row-span-2 w-full"></iframe>
  </main>
</Layout>
