---
---

<!-- <div class="flex flex-row items-center justify-between border-2 border-white/5 py-2 px-3 rounded-xl">
  <a class="text-2xl font-bold uppercase" href="/">Klkvsky</a>
  <div class="flex flex-row items-center justify-between gap-2 p-1 px-1.5 rounded-lg">
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-7 h-7 fill-white"
        ><path d="M7 6v12l10-6z"></path>
      </svg>
    </button>
    <div class="w-0.5 h-4 bg-white/10 -ml-1" />
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-7 h-7 fill-white"
        ><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
      </svg>
    </button>
  </div>
</div> -->
<div
  class="flex flex-row items-center justify-center py-2 px-3"
>
  <a class="text-2xl font-bold uppercase" href="/">Klkvsky</a>
</div>
