---
---

<!-- My Promo -->
<div
  class="p-4 w-full md:w-3/5 mx-auto rounded-3xl shadow-md bg-white dark:bg-white/5 mb-10 text-center"
  id="box"
>
  <div class="md:flex md:flex-col md:gap-2 md:items-center md:justify-between">
    <div
      id="person-in-circle"
      class="bg-gradient-to-r from-grstart via-grcenter to-grend rounded-full w-64 aspect-square grid place-items-center z-10 relative mx-auto group mt-5 mb-10"
    >
      <div
        class="absolute bg-gradient-to-r from-grstart via-grcenter to-grend rounded-full w-64 aspect-square grid place-items-center animate-spin-slow z-10 group-hover:animate-spin"
      >
      </div>
      <div
        class="bg-white dark:bg-dark rounded-full w-60 h-60 group-hover:scale-90 transition-all duration-1000 z-20"
      >
        <div
          class="bg-white/5 rounded-full w-full h-full grid place-items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-dark dark:fill-white w-36 h-36 group-hover:scale-125 transition-all duration-1000"
            ><circle cx="12" cy="4" r="2"></circle><path
              d="M15 22V9h5V7H4v2h5v13h2v-7h2v7z"></path>
          </svg>
        </div>
      </div>
    </div>
    <h5
      class="mb-2 text-3xl md:text-2xl font-bold text-gray-900 dark:text-white"
    >
      Сделал <a href="https://t.me/klkvsky" class="underline"> @KLKVSKY</a>
    </h5>
  </div>
  <p
    class="mb-4 text-base md:text-sm text-gray-500 sm:text-lg dark:text-gray-400"
  >
    В 2022 от нужды в надежде на лучшее.
  </p>
  <p
    class="mb-4 text-xs md:text-sm text-gray-500 sm:text-lg dark:text-gray-400"
  >
    ©KLKVSKY, 2022, All Rights Maybe Resirved
  </p>
  <div
    class="justify-center items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4"
  >
    <a
      href="https://t.me/klkvsky"
      class="w-full sm:w-full focus:ring-4 focus:outline-none focus:ring-gray-300 dark:text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-white/5 bg-black/5 bg-gradient-to-r from-grstart via-grcenter to-grend text-white"
    >
      <svg
        class="mr-3 w-7 h-7 fill-white"
        aria-hidden="true"
        focusable="false"
        data-prefix="fab"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
      >
        <path
          d="m20.665 3.717-17.73 6.837c-1.21.486-1.203 1.161-.222 1.462l4.552 1.42 10.532-6.645c.498-.303.953-.14.579.192l-8.533 7.701h-.002l.002.001-.314 4.692c.46 0 .663-.211.921-.46l2.211-2.15 4.599 3.397c.848.467 1.457.227 1.668-.785l3.019-14.228c.309-1.239-.473-1.8-1.282-1.434z"
        >
        </path>
      </svg>
      <div class="text-left">
        <div class="mb-1 text-xs">Написать в</div>
        <div class="-mt-1 font-sans text-sm font-semibold">Telegram</div>
      </div>
    </a>
  </div>
</div>
<!-- End of Promo -->
